#klimatampio{
	font-size: 20px;
	line-height: 25px;
}
.tg {
	overflow:auto;
    height:120px;
    max-height:120px;
    display:block;
	border-collapse:collapse;
	border-spacing:0;
}
.tg td{

	font-size:20px;
	font-weight:normal;
	padding:15px 10px 0px 10px;
	border-right-style:solid;
	border-left-style:solid;
	border-width:2px;
	word-break:normal;
	width: 150px;
}
.tg .tg-baqh{
	text-align:center;
	vertical-align:top;
	color:white;
}
.icon-klimat{
	position: relative;
	opacity: 0.25;
}
.txt-klimat{
	position: relative;
	top: -85px;
}
.big-klimat{
	font-size: 35px;
}
