#klimatampio{
	font-size: 20px;
	line-height: 25px;
}
.tg {
	overflow:hidden;
  	width: 300px;
  	height:400px;
    	max-height:400px;
   	display:block;
	border-collapse:collapse;
	border-spacing:0;
}
.tg td{

	font-size:20px;
	font-weight:normal;
	padding:10px 5px 0px 5px;
	border-width:2px;
	word-break:normal;
	width: 100px;
}
.tg .tg-baqh{
	text-align:center;
	vertical-align:top;
	color:white;
}
.icon-klimat{
	height: 60px;
	width: auto;
	position: relative;
	opacity: 0.20;
}
.txt-klimat{
	position: relative;
	top: -65px;
}
.big-klimat{
	font-size: 35px;
}
